#testToggle .spinner {
    float: none;
    margin-left: 10px;
    visibility: hidden;
}
#testToggle.loading .spinner {
    visibility: visible;
}
#testResults pre {
    background: #f6f7f7;
    padding: 15px;
    overflow: auto;
}
.endpoint-doc pre {
    max-height: 400px;
    overflow: auto;
}
.spin {
    animation: spin 2s infinite linear;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
